.wrapper{
  display: flex;
  flex-wrap: wrap;
}

.filter-block{
  display: flex;
  justify-content: space-between;
}
.locations-section{
  flex: 1 ;
  max-width: 70%;
  padding: 0 10px ;
}
.add-section{
  flex: 1 0 30%;
}
.table tr.active td {
  background-color: #337ab7;
  color: white;
  font-weight: bold;
}

agm-map {
  height: 30vw;
  width: 100%;
}


