
<h1>Location list</h1>


<div class="wrapper">

  <div class="locations-section">
    <div class="jumbotron " >
      <div class="container">
        <div class="filter-block">
          <div >
            <label for="filter">Filter by category</label>
            <select id="filter" #filterOption>
              <option [value]=""></option>
              <option *ngFor="let category  of categories|async " [value]="category.name">{{category.name}}
              </option>
            </select>
          </div>
          <div >

            <button class="btn btn-info" (click)="onChangeFilterWord(filterOption.value)">filter</button>
          </div>
        </div>

        <div class="filter-block">
          <div >

            <label for="group">Group by category</label>
          </div>
          <div >

            <button class="btn btn-info" id="group" (click)="onSortCommand('group')">group</button>
          </div>
        </div>
        <div class="filter-block">
          <div>
            <label for="word">Sort by alphabetical order</label>
          </div>
          <div >

            <button class="btn btn-info" id="word" (click)="onSortCommand('word')">sort</button>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-group text-center " role="group" aria-label="...">
      <button type="button" class="btn btn-success" (click)="onAddItem()">Add</button>
      <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
      <button type="button" class="btn btn-info" (click)="onEditItem()">Edit</button>
      <button type="button" class="btn btn-default" (click)="onSelectMap()"><i class="fa fa-map-marker" aria-hidden="true"></i> View on map</button>
    </div>


    <agm-map *ngIf=" listState.selectedItem !==null && selectedMap" [latitude]="listState.selectedItem.coordinates.lat" [longitude]="listState.selectedItem.coordinates.long "   >

      <agm-marker [latitude]="listState.selectedItem.coordinates.lat" [longitude]="listState.selectedItem.coordinates.long" [label]="'fuck'"  [openInfoWindow]="true"></agm-marker>
    </agm-map>
    <table class="table table-striped table-bordered table-hover table-sm table-responsive">
      <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Address</th>
        <th>Coordinates</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let location of locations | async | filterCategory : filterName | sortPipe : sortType"
          [ngClass]="{'active': listState.selectedItem == location}"
          (click)="onSelectItem(location)">
        <td>{{location.name}}</td>
        <td>{{location.category.name}}</td>
        <td>{{location.address}}</td>
        <td>({{location.coordinates.lat}} , {{location.coordinates.long}})</td>

      </tr>
      </tbody>
    </table>
  </div>
  <div class="add-section">
    <my-locations-add-location [location]="getLocation()"
                               *ngIf="listState.isEditMode(listState.selectedItem) || listState.isAdding"
                               (doneEditting)="listState.onDoneEditting()"></my-locations-add-location>
  </div>
</div>


